@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

:root {
    --width: 20vw;
    --height: 56vh;

    --cupWidth: 20vw;
    --cupHeight: 56vh;

    --canvasWidth: 20.5vw;
    --canvasHeight: 60vh;
}

* {
    font-family: Roboto Mono;
}

body {
    margin: 0;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* position: relative;
    top: 10vh; */
}

canvas {
    display: block;
    width: var(--canvasWidth);
    height: var(--canvasHeight);

    position: absolute;
    top: -2vh;
    border-radius: 0 0 18% 18%;
}

.drink-maker {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10%;
    position: relative;
    top: 20vh;
}

.drink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cup-handle {
    background-color: transparent;
    position: relative;
    width: var(--width);
    height: var(--height);
    left: 4vw;
}

.cup {
    width: var(--cupWidth);
    height: var(--cupHeight);
    border: 10px solid black;
    border-radius: 0 0 20% 20%;
    background-color: transparent;
    position: relative;
    /* z-index: 100; */
}

#elementButtons {
    display: table;
    width: 20vw;
    position: relative;
    top: -10vh;
    /* margin: 0 auto; */
}

.elementButton {
    cursor: pointer;
    display: inline-flex;
    margin: 0.1vw;
    /* width: 20vw; */

    color: #000;
    text-align: center;
    font-size: 22px;

    border: 1px solid black;
    /* border-radius: 0.3rem; */
}

.elementButton:hover {
    color: white;
    background-color: black !important;
}

.elementButtonSelected {
    color: white;
    background-color: black !important;
}

.elementButtonSelected:hover {
    cursor: default;
}